<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
        <div class="card-body">
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
        </div>
      </div>
    </div>
    <div>
      <% if current_user.id == params[:id].to_i %>
        <%= link_to 'ゲームプロフィール作成', new_user_profile_path(@user), class: 'btn btn-success' %>
      <% end %>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified">
      <% @user.profiles.each do |profile| %>
        <% if profile.user_id == current_user.id %>
          <li class="nav-item nav-link active nav-tabs">
            <%= link_to profile.game_title, user_profile_path(@user, profile) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<div>
