<div class="row">
  <div class="col-sm-8">
    <div class="btn">
      <%= link_to "ゲーム作成", new_game_path, class: 'btn btn-success' %>
    </div>
    <% @games.each do |game| %>
      <div class="btn">
        <%= link_to game.title, game_boards_path(game), class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
</div>
